        body{
            background-color: rgb(124, 229, 229);

        }
        h1 {
            color: rgba(239, 35, 28, 0.909);

        }
        .red{
            color: blue;
        }
        /*#big{
            font-size: 20;
        }*/

    