*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #35A29F;
}
header{
    width: 100%;
    height:75px;
}
nav{
    display: flex;
    position: fixed;
    width: 100%;
    padding: 20px;
    background-color: #071952;
    
}
.CabezeraIcono{
    display: flex;
    justify-content: space-around;
    width: 20%;
    color: #F1C93B;
    
}
.BarraLateral{
    width: 80%;
   display: flex;
   justify-content:space-around;
   color: #F1C93B;
    
}
li{
    list-style: none;
}
.CabezeraIcono li:hover{
    text-shadow: 2px 2px #f31703;
    
}

a{
    text-decoration: none;
    color: #F1C93B;
}
a:hover{
    text-decoration: overline;
}
.CV{
    display: flex;
    justify-content: center;
}
.FotoPerfil img{
    width: 700px;
    height: 450px;
    border-radius: 950px;
    border: rgb(0, 5, 5) 2px solid;
    margin: 20px;
    transition: transform .2s; 
   
}

.FotoPerfil img:hover{
    transform: scale(1.1); 
}
.Info{
    padding-top: 200px;
    padding-left: 30px;
}

