*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #35A29F;
}
header{
    width: 100%;
    height:75px;
}
nav{
    display: flex;
    position: fixed;
    width: 100%;
    padding: 20px;
    background-color: #071952;
    z-index: 100;
    
}
.CabezeraIcono{
    display: flex;
    justify-content: space-around;
    width: 20%;
    color: #F1C93B;
    
}
.BarraLateral{
    width: 80%;
   display: flex;
   justify-content:space-around;
   color: #F1C93B;
    
}
li{
    list-style: none;
}
.CabezeraIcono li:hover{
    text-shadow: 2px 2px #f31703;
    
}

a{
    text-decoration: none;
    color: #F1C93B;
}
a:hover{
    text-decoration: overline;
}

*.FotoPerfil img{
    width: 700px;
    height: 450px;
    border-radius: 950px;
    border: rgb(0, 5, 5) 2px solid;
    margin-top: 50px;
    transition: transform .2s; 
   
}

.FotoPerfil img:hover{
    transform: scale(1.1); 
}
.Info{
    padding-top: 200px;
    padding-left: 30px;
}

.Portafolio{
    margin: 100px;
    text-align: center;
}
.carousel{
    margin: 100px;
}
.d-block{
    
    align-items: center;
}
.carousel-item{
    align-items: center;
    
}
.contacto{
    
    background-color: #97FEED;
    border-radius: 20px;
}
.Experiencia{
    margin-top: 70px;
}.footerPage{
    
    display: flex;
    justify-content: center;
    margin-top:40px;
    height: 80px;
    background-color: #F0FF42;
    border-radius: 20px;
    padding-top: 20px;
}
.footerPage h2:hover{
    text-shadow: 2px 2px #f31703;
}


